table{
    border-collapse: collapse;
    }
td {
          border: 1px solid black;
    text-align: center;
    padding: 10px;
    color: white;
     }
 sup{
     font-size: 10px;
     display: block;
     }
th, td{
     padding: 10px;
     text-align: center;
     }
#maroon{
     background-color: maroon;
     }
body {
      background-color: black;
     }
#lightgreen{
     background-color: lightgreen;
     }
     